@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Oswald:wght@300;500&family=Roboto+Mono:wght@200&display=swap');
body{
    background-color: #e5e5e5;
    font-family: 'Oswald', sans-serif;
}

#body {
    width: 100%;
    padding: 5px;
}

.ctnr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header{
    width: 100%;
    height: 170px;
}
.logo{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    margin-bottom: 10px;
}
.design{
    background-color: #6c757d;
    height: 60px;
    font: 35px 'Oswald', sans-serif;
    width: 50%;
    color: #e5e5e5;
    text-align: center;
}
.nav-link{
    color: #000000;
    font: 300 20px 'Oswald', sans-serif;
}
.nav-link:hover{
    color: #b5b5b5;
}
#about {
    margin-top: 50px;
    padding: 10px;
    width: 80%;
}

#abt-dets {
    background: transparent;
    flex-direction: row;
}

.txt {
    display: flex;
    align-items: center;
    margin: 35px;
    color: #000000;
    font: 20px 'Roboto Mono', monospace;
}

.about-text {
    width: 60%;
}

.mybtn {
    width: 300px;
    height: 40px;
    margin: 40px;
    border-radius: 0%;
    background-color: #6c757d;
    color: #e5e5e5;
}

.mybtn:hover {
    color: #b5b5b5;
}

#stack {
    background-color: #d1d1d1;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 300px;
}

#interests {
    margin-top: 40px;
    width: 80%;
}

.intrst{
    padding: 20px 0 20px 60px;
    list-style: none;
    margin: 0;
    vertical-align: middle;
}

.soccer-item {
    background: url('img/soccer-icon.svg') no-repeat left center;
}

.game-item{
    background: url('img/game-icon.svg') no-repeat left center;
}

.wrld-item{
    background: url('img/wrld-icon.svg') no-repeat left center;
}

.nft-item{
    background: url('img/eth-icon.svg') no-repeat left center;
}

.hats-item{
    background: url('img/hats-icon.svg') no-repeat left center;
}

#my-work{
    margin-top: 60px;
    width: 90%;
}

.projects-ctnr{
    flex-direction: row;
    margin-top: 35px;
}

.projects {
    width: 60%;
}

.my-work-img{
    background: transparent;
}

.card-body {
    background-color: #d1d1d1;
}

.card-text {
    font: 15px 'Roboto Mono', monospace;
}

#contact {
    margin-top: 60px;
    width: 100%;
    background-color: #6c757d;
    color: #000000;
    height: 30vh;
}

.socials{
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
}